<% layout("layouts/boilerplate.ejs") %>
<div class="user-profile">
  <h2 class="mt-4 mb-4">My Profile</h2>
  <hr />
  <div class="mt-4">
    <p>
      <b>Username: </b><%= userInfo.username %> <br />
      <b>Email: </b><%= userInfo.email %>
    </p>
  </div>
</div>
