<% layout("/layouts/boilerplate") %>
<div class="privacy-policy">
  <h2 class="mt-4 mb-4">Company Details</h2>
  <b>Effective Date: </b>13 July 2024
  <hr>
  <p>
    <h5><b>TravelHaven</b></h5>
    <b>Description:</b><br>
    TravelHaven is a comprehensive platform that allows individuals and businesses to add and manage listings for a variety of spaces, including rooms, hotels, restaurants, gaming places, and properties. Our user-friendly interface makes it easy for users to post detailed listings with photos, descriptions, and amenities. Additionally, Listify provides a robust review system where visitors can leave feedback and ratings, helping others make informed decisions. Whether you’re looking to book a weekend getaway, find a new restaurant to try, or rent out a property, Listify is your go-to destination for discovering and sharing great places.
    <b>Address:</b><br>
    1234 Example Street,<br>
    Suite 567,<br>
    City, State, ZIP Code,<br>
    Country<br>
    <br>
    <b>Email:</b><br>
    example@travelhaven.com
    <br><br>
    <b>Website:</b><br>
    <a href="https://reviewing-platform-project.onrender.com">TravelHaven</a>
  </p>
</div>
