<% layout("/layouts/boilerplate") %>
<div class="privacy-policy">
  <h2 class="mt-4 mb-4">Privacy Policy for TravelHaven</h2>
  <b>Effective Date: </b>13 July 2024
  <hr />
  <div class="policies">
    <ol>
      <li>
        <h5>Introduction</h5>
        <p>
          Welcome to TravelHaven! Your privacy is critically important to us.
          This Privacy Policy explains how we collect, use, disclose, and
          safeguard your information when you visit our website and use our
          services. By using our website, you agree to the terms of this Privacy
          Policy.
        </p>
      </li>

      <li>
        <h5>Information We Collect</h5>
        <h6><b>Personal Information:</b></h6>
        <ul>
          <li>
            Account Information: When you register on our site, we collect your
            name, email address, username, and password.
          </li>
          <li>
            Contact Information: We may collect additional information if you
            contact us for support.
          </li>
        </ul>
        <br />
        <h6><b>Non-Personal Information:</b></h6>
        <ul>
          <li>
            <b>Log Data:</b> We collect information that your browser sends
            whenever you visit our site, such as your IP address, browser type,
            browser version, the pages of our site that you visit, the time and
            date of your visit, and other statistics.
          </li>
          <li>
            <b>Usage Data:</b> We may collect information on how you access and
            use our services, such as the pages you visit, the time spent on
            those pages, and other diagnostic data.
          </li>
        </ul>
        <br />
        <h6><b>Review Information:</b></h6>
        <ul>
          <li>
            <b>User-Generated Content: </b>When you post reviews, comments, and
            ratings on our site, we collect the information you provide in those
            postings.
          </li>
        </ul>
      </li>

      <br />
      <li>
        <h5>How We Use Your Information</h5>
        <p>
          We use the information we collect for various purposes, including to:
        </p>
        <ul>
          <li>Provide and maintain our services.</li>
          <li>Improve, personalize, and expand our services.</li>
          <li>Understand and analyze how you use our website.</li>
          <li>
            Develop new products, services and features for a better user
            experience.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
