<% layout("/layouts/boilerplate") %>
<div class="privacy-policy">
  <h2 class="mt-4 mb-4">Terms and Conditions for TravelHaven</h2>
  <b>Effective Date: </b>13 July 2024
  <hr />
  <div class="terms">
    <ol>
      <li>
        <h5>Acceptance of Terms</h5>
        <p>
          By accessing and using website operated by TravelHaven, you agree to
          comply with and be bound by these Terms and Conditions. If you do not
          agree with these Terms, please do not use our Website.
        </p>
      </li>

      <li>
        <h5>Use of the Website</h5>
        <h6><b>Personal Information:</b></h6>

        <ol type="a">
          <li>
            <b>Eligibility: </b>
            <p>
              You must be at least 18 years old to use our Website. By using the
              Website, you represent and warrant that you are at least 18 years
              old.
            </p>
          </li>
          <li>
            <b>Account Registration: </b>
            <p>
              To access certain features of the website, you must register for
              an account. You agree to provide accurate, current, and complete
              information during the registration process and to update such
              information to keep it accurate, current, and complete. You are
              responsible for safeguarding your password and agree not to
              disclose it to any third party.
            </p>
          </li>
        </ol>
      </li>

      <br />
      <li>
        <h5>User Conduct</h5>
        <p>By using our Website, you agree not to:</p>
        <ul>
          <li>Use the Website for any unlawful purpose.</li>
          <li>
            Post any content that is defamatory, obscene, abusive, offensive, or
            otherwise violates any law or the rights of others.
          </li>
          <li>
            Use the Website to transmit any unsolicited or unauthorized
            advertising, spam, or other forms of solicitation.
          </li>
          <li>
            Impersonate any person or entity or falsely state or otherwise
            misrepresent your affiliation with a person or entity.
          </li>
          <li>
            Interfere with or disrupt the Website or servers or networks
            connected to the Website.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
